#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [5]:
import pymysql as sql
import sqlalchemy as db

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [7]:
#engine = db.create_engine('dialect+driver://user:pass@host:port/db')

engine = db.create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/stats')
print("Connected to server!")

Connected to server!

#### 4. Import the users table

In [20]:
users = pd.read_sql_query("SELECT * FROM users", engine)

In [62]:
users.head()

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 5. Rename Id column to userId

In [61]:
users.rename(columns={'Id':'userId'}, inplace=True)

#### 6. Import the posts table.

In [57]:
posts = pd.read_sql_query("SELECT * FROM posts", engine)

In [60]:
posts.head()

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

#### 7. Rename Id column to postId and OwnerUserId to userId

In [59]:
posts.rename(columns={'Id':'postId', 'OwnerUserId':'userId'}, inplace=True)

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [53]:
users_cols = users.loc[:,['userid', 'Reputation', 'Views', 'UpVote']]
posts_cols = posts.loc[:,['postTypeId', 'Score', 'postId', 'ViewCount']]

In [54]:
posts_cols.head()

   postTypeId  Score  OwnerUserId  OwnerUserId  ViewCount
0         NaN     23            1          8.0     1278.0
1         NaN     22            2         24.0     8198.0
2         NaN     54            3         18.0     3613.0
3         NaN     13            4         23.0     5224.0
4         NaN     81            5         23.0        NaN

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [65]:
merged_df = pd.DataFrame.merge(users,posts,how='left',on='userId')

In [71]:
merged_df.shape

(108926, 34)

In [72]:
merged_df.head(10)

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0.0,NaN,-1.0,2014-04-23 13:43:43,NaT,NaN,NaT,None,None
1,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0.0,NaN,-1.0,2011-03-21 17:40:28,NaT,NaN,NaT,None,None
2,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0.0,NaN,-1.0,2011-03-21 17:46:43,NaT,NaN,NaT,None,None
3,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0.0,NaN,919.0,2011-03-30 19:23:14,NaT,NaN,NaT,None,None
4,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0.0,NaN,919.0,2011-03-30 19:23:14,NaT,NaN,NaT,None,None
5,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0.0,NaN,-1.0,2011-04-22 06:59:10,NaT,NaN,NaT,None,None
6,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0.0,NaN,2116.0,2011-04-22 09:24:38,NaT,NaN,NaT,None,None
7,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0.0,NaN,-1.0,2011-04-22 07:09:42,NaT,NaN,NaT,None,None
8,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0.0,NaN,-1.0,2011-04-29 00:18:02,NaT,NaN,NaT,None,None
9,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0.0,NaN,-1.0,2011-04-29 00:18:02,NaT,NaN,NaT,None,None

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [70]:
null_cols = merged_df.isnull().sum()
null_cols[null_cols > 0]

WebsiteUrl                71816
Location                  61227
AboutMe                   61682
Age                       76754
ProfileImageUrl           75800
postId                    18342
PostTypeId                18342
AcceptedAnswerId          94363
CreaionDate               18342
Score                     18342
ViewCount                 66738
Body                      18562
LasActivityDate           18342
Title                     66738
Tags                      66738
AnswerCount               66738
CommentCount              18342
FavoriteCount             95947
LastEditorUserId          64798
LastEditDate              64570
CommunityOwnedDate       106539
ParentId                  61826
ClosedDate               107366
OwnerDisplayName         107805
LastEditorDisplayName    108677
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.